.is-horizontal-center {
    justify-content: center;
    align-self: center;
    display: flex;
  }

  .dangerMe{
      color: #ff3860;
  }

  .svgLogo {
      fill: blueviolet !important;
  }

  .progress{
      border-radius: 0;
  }

  .thumbUnder{
      padding-left: 4em;
      padding-right: 4em;
  }

.hero {
     padding: 10%;
     padding-top: 8%;
     margin-top:0; 
     border-bottom: 1px solid black;
     min-height: 100vh;
     margin-top: -3%;
  }

  canvas { 
    display: block; 
    vertical-align: bottom; 
}

  #particles-js{ 
    width: 100%; 
    height: 100%; 
    background-color: #b61924; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; } 

  

  #heroText {
      padding-top: 10%;
    top: 50%;
    text-align: center; 
         margin: auto; /* Important */ 

 }

  #navOne {
    padding-bottom: 0;
    margin-bottom:0;
  }

.hero strong {
    color:#ff3860;
}
#aboutMe {
    padding-top: 4%;
    padding-bottom: 2%;
}

#aboutMe, p {
text-justify: inter-character;
padding-bottom: 2%;
}

#myButton {
    padding: 10px 20px;
    border: 2px solid #ff3860;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    margin-top: 3%;
}